// .pag-items{
//     line-height: 4.8;
//     color: #656565;
//     font-weight: 500;
//     font-family: 'Helvetica Neue', 'Raleway', sans-serif;
//     font-size: 16px;
// }

.customContainer {
    margin: 0 auto;
    max-width: 100%;
}

@media (min-width: 701px) {
    .customContainer {
        max-width: calc(100% - 110px);
    }
}
