.equipment-header-title{
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}

.equipment-form-text{
font-weight: 700;
font-size: 13px;
color: #000;
}

.signin-btn {
    background-color: #f7941d;
    border: 1px solid #f8a543;
    color: #fff;
    font-weight: 700;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 20rem;
  
    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 0;
      width: 60%;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
  .recaptha {
    transform: scale(0.65); // adjust 0.85 to your preferred size
    transform-origin: 0 0; // keeps it aligned from the top-left corner
    margin-top: 10px;
  
    @media (max-width: 768px) {
      transform: scale(0.75);
    }
  }
  

.star{
color: #e02b27;
padding: 2px;
}

.getaquote-image {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin: 0 auto 0.5rem auto;
  transition: 0.5s ease;
  display: block;
  padding: 0.625rem 0;
}

.getaquote-text{
    text-align: center;
}
