.summary-title{
    font-size: 40px;
    font-weight: 500;
    color: #232332;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.summary-logo {
    height: 60px;
    width: auto;
    margin-bottom: 10px;
}

.summary-icon{
    height: 80px;
    width: auto;
    margin-bottom: 10px;
}





