.privacy-page {
  font-family: Helvetica;
  padding: 50px 10px 0px;
}

.comp-title {
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  border-left: 3px solid #f7941d;
  font-weight: 700;
}

.main-title {
  font-size: 26px;
  line-height: 1.27;
  font-weight: 200;
}

.row-box {
  font-size: 16px;
  color: #333;
}

.sub-title {
  font-weight: 500;
  color: #232332;
  margin-top: 0px;
}
