.google img {
  width: 25px;
}

.google {
  font-size: 14px;
}

.signuplink {
  text-decoration: none !important;
  color: #bba55a;
}

.nsm7Bb-HzV7m-LgbsSe {
  border: none !important;
  display: flex !important;
  gap: 10px !important;
}

#pwdHintsItem {
  color: black !important;
  font-size: 13px !important;
}


// .forgetpassword {
//   font-size: 15px;
//   color: rgb(0, 112, 156);
//   text-align: end;
//   // margin-top: 5px;
//   margin-bottom:0px;
//   cursor: pointer;
// }

.signuplink{
  text-decoration: none !important;
  color: rgb(0, 112, 156);
}
.radio-forgot-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .MuiFormGroup-root {
    display: flex;
    flex-direction: row;
  }

  .forgetpassword {
    color: #006688; // your theme color
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap; // prevent it from wrapping
    margin-left: auto; // push to right if needed
  }
}
