.pag-items{
    line-height: 4.8;
    color: #656565;
    font-weight: 500;
    font-family: 'Helvetica Neue', 'Raleway', sans-serif;
    font-size: 16px;
}

.card-slider-btn{
    background-color: #f7941d;
    border: 1px solid #f8a543;
    color: #fff ;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;
    margin-right: 50px;
}