.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.leftSide {
  flex: 1;
  background-image: url('/images/experiy.jpg'); /* change to your image */
  background-size: cover;
  background-position: center;
}

.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

// .card {
//   max-width: 400px;
//   width: 100%;
//   padding: 40px;
//   background-color: white;
//   border-radius: 10px;
//   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
//   text-align: center;
// }

.logo {
  width: 250px;
  margin-bottom: 20px;
}

.heading {
  font-size: 2rem;
  // font-weight: bold;
  margin-bottom: 20px;
}

.message {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.submitButton {
  padding: 12px 30px;
  background-color: #0077a3;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #005f85;
}
