.newservice-header-title{
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
  }
  
  .newservice-page-title {
    text-align: center;
    padding-top: 4.3rem;
  
    h4{
        font-size: 22px;
    
  }
   
   span{
       color: #f7941d;
       font-size: 22px;
   }
  
   p{
    text-align: center;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 25px;
    font-weight: 300;
    padding-top: 2.3rem;
   }
  }
  
  .form-personal-info{
    display: block;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .newservice-form-row{
    padding: 10px;
  }
  
  .form-text{
    font-weight: 700;
    color: #000;
  }
  
  .field-newsletter{
   
  width: 350px;
    font-weight: 700;
    color: #000;
   
    font-size: 15px;
  }
  
  .submit-btn{
    background-color: #f7941d;
    border: 1px solid #f8a543;
    color: #fff;
    font-weight: 700;
    padding: 4px 15px;
    font-size: 15px;
    border-radius: 4px;
  }
  
  .back-btn{
    background: #ddd;
    border: 1px solid #ddd;
    padding: 2px 15px;
    transition: .5s;
    color: #292929;
    font-size: 18px;
    float: right;
  }
  
  .captcha-note{
    font-size: 14px;
    margin: 3px 10px 0;
  }
  
  .captcha-reload{
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    margin: 10px;
    padding: 4px 12px;
    font-size: 18px;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 3px;
  }
  
  .form-checkbox{
         cursor: pointer;
    height: 20px;
    width: 20px;
    // margin: 18px 5px;
    opacity: 0.5;
    border-radius: 3px;
  }

  .invalid-feedback{
    color: red;
    font-size: 14px;
    font-weight: lighter;
  }
  .card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(255, 165, 0, 0.5);
    margin: 0 auto; /* Centers card */
   max-width: 900px;
   width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  h4.name {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px; 
  }
  .formLabel {
    font-weight: bold;
    color: #ff8c00;
    margin-top: 10px;
  }
  
.regBtn {
  background-color: #e07b00;
  color: white;
  border-radius: 20px;
  padding: 8px;
  width:150px;
  border: none;
  cursor: pointer;
  margin-top: 3px;
  transition: 0.3s ease-in-out;
}

.regBtn:hover {
  background: #e07b00;
  transform: scale(1.05);
}
.text-danger {
  color: red;
  font-size: 16px;
  vertical-align: top;
}

  